In [1]:
import requests
import re
import pandas as pd
from collections import defaultdict
import time
import tqdm


base_url = "https://www.lottozahlenonline.de/statistik/beide-spieltage/lottozahlen-archiv.php?j={}"
pattern = r"""<time class=\"zahlensuche_datum\" datetime=\"(\d{4})-(\d{2})-(\d{2})\">\d{2}\.\d{2}\.\d{4}</time>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zahl\">(\d{1,2})</div>
<div class=\"zahlensuche_zz\">(\d{0,1})</div></div>
"""
pattern = pattern.replace("\n", "")

data = defaultdict(list)

for year in tqdm.tqdm(range(1955, 2024, 1)):
    r = requests.get(base_url.format(year))
    if r.status_code != 200:
        print("ERROR 1")
        exit()

    content = r.content.decode().split("\n")
    for line in content:
        if line.startswith('<br><br style="clear:left"><div id="gewinnzahlen">'):
            break
    else:
        print("ERROR 2")
        exit()

    matches = re.findall(pattern, line)
    for m in matches:
        data["year"].append(m[0])
        data["month"].append(m[1])
        data["day"].append(m[2])
        data["num1"].append(m[3])
        data["num2"].append(m[4])
        data["num3"].append(m[5])
        data["num4"].append(m[6])
        data["num5"].append(m[7])
        data["num6"].append(m[8])
        data["numzz"].append(m[9])
    time.sleep(0.5)

data = pd.DataFrame(data)

100%|██████████| 69/69 [00:38<00:00,  1.77it/s]

In [4]:
data.to_csv("lotto.csv")
data

      year month day num1 num2 num3 num4 num5 num6 numzz
0     1955    10  09    3   12   13   16   23   41
1     1955    10  16    3   12   18   30   32   49
2     1955    10  23   12   14   23   24   34   36
3     1955    10  30    4   13   23   30   36   44
4     1955    11  06    5    6   31   39   44   49
...    ...   ...  ..  ...  ...  ...  ...  ...  ...   ...
3249  2023    01  25    6   11   12   20   25   37     2
3250  2023    01  28    5   14   20   30   38   44     8
3251  2023    02  01    6   20   34   36   40   49     5
3252  2023    02  04   29   31   33   34   35   37     8
3253  2023    02  08    8   14   17   21   39   44     9

[3254 rows x 10 columns]

In [5]:
data.dtypes

year     object
month    object
day      object
num1     object
num2     object
num3     object
num4     object
num5     object
num6     object
numzz    object
dtype: object

In [7]:
int("09")

9